a:link
{
    text-decoration: none;
}

body{
    background-color:blanchedalmond;
}

.navbar
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.titulo_ppal
{
    text-align: center;
    justify-content: space-evenly;
}

.titulos_secundarios 
{
    text-align: center;
    margin-top: 10px;
    padding-top: 3px;
    margin-bottom: 30px;
}
form{
    margin: 0 auto;
    width: 400px;
    background-color: coral;
    padding: 2em;
    border: 1px solid #CCC;
    border-radius: 1em;
    box-shadow:  gray 4px 4px 0px 0px ;
    

}


label {
    text-align: justify center;
    margin-top: 10px;
    padding-top: 3px;
    
}

input{
    width: 300px;
    box-sizing: border-box;
    margin-top: 10px;
    padding-top: 3px;
    
}



button {
    margin-top: 10px;
    padding-top: 3px;
    background-color: lightgoldenrodyellow;
    
}

.footer
{

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-evenly;
    padding-top: .5rem;
    padding-bottom: .5rem;
    
}